@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font);
}

:root {
  /* Font - 400, 700 */
  --font: "Kumbh Sans", sans-serif;

  /* Primary Colors - Text */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Gradient - Background */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --soft-blue-shadow: hsl(256, 45%, 38%);
  --white: hsl(0, 0%, 100%);

  /* Neutral - Text */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --dark-grayish-blue-opaque: hsla(240, 6%, 50%, 0.5);

  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    var(--soft-violet) 0%,
    var(--soft-blue) 100%
  );
  background-repeat: no-repeat;
}

.faq-wrapper {
  display: flex;
  width: 60rem;
  height: 32rem;
  box-shadow: 0 4rem 4rem 0 var(--soft-blue-shadow);
  justify-content: space-evenly;
  border-radius: 1.8rem;
  background-color: var(--white);
}

.graphics {
  width: 30rem;
}

.graphics-mobile {
  display: none;
}

.inner-graphics {
  overflow: hidden;
  height: 32rem;
}

.woman {
  transform: translate(-5rem, -55rem);
}

.orange-box {
  width: 12rem;
  height: 12rem;
  transform: translate(-5.9rem, -19.3rem);
}

.bg-pattern {
  transform: translate(-36rem, -18rem);
}

.faq-card {
  flex-direction: column;
  width: 30rem;
  display: flex;
  justify-content: center;
  margin-right: 5rem;
}

.card-title {
  font-size: 2rem;
  color: var(--very-dark-desaturated-blue);
  position: absolute;
  transform: translateY(-12rem);
}

.questions {
  padding-top: 3rem;
}

.question {
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid var(--dark-grayish-blue-opaque);
  justify-content: space-between;
  cursor: pointer;
  transition: 0.4s;
  margin: 2.5rem auto;
}

.question-answer {
  display: flex;
}

.question-answer img {
  align-self: center;
}

.question-answer,
.answer {
  transition: 1s;
}

.question-title {
  display: flex;
  justify-content: space-between;
  color: var(--very-dark-desaturated-blue);
  font-weight: 500;
  width: 24rem;
}

.active img {
  transform: rotate(180deg);
  transition: all 0.03s ease-in;
}

.active,
.question-title:hover {
  color: var(--soft-red);
}

.active .question-title {
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
}

.question img {
  align-self: center;
}

.answer {
  display: none;
}

.active > .answer {
  display: block;
  padding-bottom: 1.3rem;
  color: var(--dark-grayish-blue);
}

.faq-card,
ul {
  list-style: none;
}

.attribution {
  text-align: center;
  margin: 2em 0 6em 0;
  color: var(--white);
}

/* ================================= Media Queries ==================================== */

@media screen and (max-width: 400px) {
  body {
    height: 125svh;
  }

  .main-container {
    height: 100svh;
  }

  .faq-wrapper {
    flex-direction: column;
    width: 21rem;
    height: 36rem;
  }

  .graphics {
    display: none;
  }

  .graphics-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inner-graphics-mobile {
    height: 8rem;
  }

  .woman-mobile {
    position: sticky;
    transform: translate(0rem, -15.8rem);
  }

  .bg-pattern-mobile {
    transform: translate(0rem, -2rem);
  }

  .faq-card {
    flex-direction: column;
    width: 21rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .questions {
    width: 21rem;
    font-size: 0.8rem;
    padding: 0 1.5rem;
  }

  .card-title {
    margin-bottom: 2rem;
  }
}
