@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font);
}

:root {
  /* Font - 400, 700 */
  --font: "Kumbh Sans", sans-serif;

  /* Primary Colors - Text */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Gradient - Background */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --soft-blue-shadow: hsl(256, 45%, 38%);
  --white: hsl(0, 0%, 100%);

  /* Neutral - Text */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    var(--soft-violet) 0%,
    var(--soft-blue) 100%
  );
  background-repeat: no-repeat;
}

.faq-wrapper {
  display: flex;
  width: 60rem;
  height: 32rem;
  box-shadow: 0 4rem 4rem 0 var(--soft-blue-shadow);
  justify-content: space-evenly;
  border-radius: 1.8rem;
  background-color: var(--white);
}

.graphics {
  width: 30rem;
}

.inner-graphics {
  overflow: hidden;
  height: 32rem;
}

.woman {
  transform: translate(-5rem, -55rem);
}

.orange-box {
  width: 12rem;
  height: 12rem;
  transform: translate(-5.9rem, -19.3rem);
}

.bg-pattern {
  transform: translate(-36rem, -18rem);
}

.faq-card {
  flex-direction: column;
  width: 30rem;
  display: flex;
  justify-content: center;
  margin-right: 5rem;
}

.card-title {
  font-size: 2rem;
  color: var(--very-dark-desaturated-blue);
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.03s;
  margin: 3rem auto;
}

.question-title {
  color: var(--very-dark-desaturated-blue);
  font-weight: 500;
}

.question-title:focus {
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
}

.active,
.question-title:hover {
  color: var(--soft-red);
}

.question img {
  align-self: center;
}

.answer {
  display: none;
}

.faq-card,
ul {
  list-style: none;
}

/* ================================= Media Queries ==================================== */

@media screen and (max-width: 400px) {
  .main-container {
  }

  .faq-wrapper {
    flex-direction: column;
    width: 21rem;
    height: 42rem;
  }

  .graphics {
    width: 21rem;
    height: 20rem;
    overflow: visible;
  }

  .woman {
    transform: translate(-4rem, -60rem);
  }

  .orange-box {
    width: 12rem;
    height: 12rem;
    transform: translate(-30.8rem, 12.4rem);
  }

  .bg-pattern {
    transform: translate(-36rem, -18rem);
  }

  .faq-card {
    flex-direction: column;
    width: 21rem;
    display: flex;
    justify-content: center;
  }
}
